extends result

block jumbotron
  .span6.offset3.rip
    blockquote(class="twitter-tweet")
      p RIP 
        a(href='http://t.co/AsSB22VI', title='http://didgomezscore.com') didgomezscore.com
        . you were funny, creative and always made me laugh. thanks for the memories.
      &mdash; Mike Mazzeo (@MazzESPN) 
      a(href='https://twitter.com/MazzESPN/status/167794047128309761') February 10, 2012

script(async, src='//platform.twitter.com/widgets.js', charset='utf-8')

